.title-container {
    padding: 3%;
    background-color: #ffffff;
    border-radius: 5px;
}

.table-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15%;
}

.table-title {
    text-align: center;
}

.detail-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2%;
}
